target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/AssessmentProj/Reports/
/Reports/
/Logs/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/uiDesigner.xml
.idea/compiler.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr